<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>DOMATH :: 수학교습 프로그램</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    </style>
</head>
<body>
    <div class="sidebar">
        <h2>DOMATH 2</h2>
        <a href="{{ url_for('index') }}">메인</a>
        <a href="https://github.com/RottenBread">About</a>
    </div>
</body>
</html>